name: Build Mobile Android

on:
  workflow_dispatch: # Permite rodar manualmente pelo GitHub

jobs:
  build:
    name: EAS Build
    runs-on: ubuntu-latest
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to your project's Expo account in this repo's secrets. https://expo.dev/accounts/[account]/settings/access-tokens"
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        working-directory: ./mobile
        run: npm ci

      - name: Build Android APK
        working-directory: ./mobile
        run: eas build --platform android --profile preview --non-interactive
